
<div class="tab-pane fade show active" id="chapter-template-options"
	role="tabpanel" aria-labelledby="chapter-template-tab"
	style="padding: 10px">

	Wähle ein Bild für den Hintergrund des Kapitels:</br>

	
	

</div>



<div class="tab-pane fade" id="chapter-image-options"
	role="tabpanel" aria-labelledby="chapter-image-tab"
	style="padding: 10px">

	Wähle ein Bild für den Hintergrund :</br>
	
	<div style="margin: 5px;">
	<img id="chapter-bg-thumb" class="recipe-img-prev">
	<a style="margin-top: 5px; width:100%;" id="chapter-bg-chooser-button" onclick="showChapterImagePicker();" href="#" class="btn btn-primary">Hintergrundbild</a>
	
	</div>
	
	

</div>


<div class="tab-pane fade" id="recipe-content-options" role="tabpanel"
	aria-labelledby="recipe-content-tab">...</div>
	
<div class="tab-pane fade" id="recipte-ingredients-options"
	role="tabpanel" aria-labelledby="recipe-ingredients-tab">...</div>