{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<title>Chefkoch zu Kochbuch</title>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
	integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
	crossorigin="anonymous">

<script src="{% static 'chefkoch2book/js/underscore.js' %}"></script>
<script src="{% static 'chefkoch2book/js/image-picker.min.js' %}"></script>

<link rel="stylesheet"
	href="{% static 'chefkoch2book/css/bootstrap-treeview.min.css' %}">
<link rel="stylesheet"
	href="{% static 'chefkoch2book/css/image-picker.css' %}">
<link id="template-css" rel="stylesheet"
	href="{% static 'chefkoch2book/css/templates/normal.css' %}">
<link rel="stylesheet" href="{% static 'chefkoch2book/css/style.css' %}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />






<!-- Required Javascript -->
<script src="{% static 'chefkoch2book/js/bootstrap-treeview.min.js' %}"></script>



<!-- <!-- Main Quill library -->
<!-- <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>

<link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">  -->


</head>

<body>

	<div class="container">
		<div class="header clearfix">
			<nav>
				<ul class="nav nav-pills float-right">
					<li class="nav-item"><a class="nav-link active" href="#">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="#">About</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Contact</a>
					</li>
				</ul>
			</nav>
			<h3 class="text-muted">Chefkoch zu Kochbuch</h3>
		</div>

		<div id="chapters-card" class="card" style="margin-bottom: 20px;">
			<div class="card-header">
				<span style="font-size: 18pt">Kochbuch erstellen</span><a
					style="margin-left: 5px;"
					class="btn btn-sm btn-secondary float-right" href="#"
					onclick="downloadBook();"><i class="fas fa-download"></i>
					Speichern</a><a class="btn btn-sm btn-secondary float-right" href="#"
					onclick="$('#load-file-modal').modal('show');"><i
					class="fas fa-upload"></i> Laden</a>
			</div>
			<div class="card-body">
				<h5 class="card-title">Erstelle hier die Kapitel für dein
					Kochbuch</h5>
				<p class="card-text">Klicke auf &#187;Kapitel hinzufügen&#171;,
					um ein Kapitel zu erstellen.</p>

				<div id="recipe-tree"></div>

				<div style="margin-top: 10px"></div>



			</div>


		</div>

		<div id="recipes-card" class="card">
			<div class="card-header">
				Rezepte auswählen<img
					src="{% static 'chefkoch2book/icons/interface/svg/list.svg' %}"
					class="icon float-right">
			</div>
			<div class="card-body">
				<h5 class="card-title">
					Welche Rezepte sollen für dein Kochbuch zusammengestellt werden?<i
						class="fas fa-camera-retro"></i>
				</h5>
				<p class="card-text">Gib hier eine Liste von Links zu den
					Druckseiten der Rezepte an. Wie genau du das tun kannst, erfährst
					du in diesem Video.</p>
				<form></form>

				<div class="dropdown float-right" id="chapter-selection">
					<a class="btn btn-secondary dropdown-toggle" href="#" role="button"
						id="addRecipeButton" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Dropdown link </a>

					<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<a class="dropdown-item" href="#"
							onclick="addRecipe('https://www.chefkoch.de/rezepte/drucken/1108101216891426/2309481a/1/Apfelkuchen-mit-Streuseln-vom-Blech.html', '0')">Action</a>
						<a class="dropdown-item" href="#">Another action</a> <a
							class="dropdown-item" href="#">Something else here</a>
					</div>
				</div>

				<div class="clearfix"></div>

			</div>

			<ul class="list-group list-group-flush" id="recipe-list">
				<li class="list-group-item">Cras justo odio</li>
				<li class="list-group-item">Dapibus ac facilisis in</li>
				<li class="list-group-item">Vestibulum at eros</li>
			</ul>
		</div>
	</div>


	<footer class="footer">
		<p>&copy; Company 2017</p>
	</footer>


	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
		integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
		crossorigin="anonymous"></script>

	<script src="{% static 'chefkoch2book/js/recipes.js' %}"></script>

	<div class="modal" tabindex="-1" role="dialog" id="recipes-url-modal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">
						Neue Rezepte unter <span id="modal-title-chapter"></span>
					</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Gib hier den Link oder eine durch ; getrennte Liste von
						Links zum Rezept oder den Rezepten auf Chefkoch an:</p>
					<form id="add-recipes-urls">

						<input type="hidden" id="url-list-chapter" name="chapter" value="">
						<div class="form-group">
							<label for="recipes_url_list">Rezeptlinks</label>
							<textarea class="form-control" id="recipes_url_list" rows="5">https://www.chefkoch.de/rezepte/drucken/2654911416926229/2309481a/1/Blechkuchen-Blech-Butterkuchen.html;https://www.chefkoch.de/rezepte/drucken/1108101216891426/2309481a/1/Apfelkuchen-mit-Streuseln-vom-Blech.html</textarea>
						</div>

					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary"
						onclick="$('#recipes-url-modal').modal('hide');addRecipe();$('#recipes_url_list').val('');">Save
						changes</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" tabindex="-1" role="dialog" id="chapter-modal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">
						Neues Kapitel unter <span id="chapter-modal-title-chapter"></span>
					</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Gib hier den Link oder eine durch ; getrennte Liste von
						Links zum Rezept oder den Rezepten auf Chefkoch an:</p>
					<form id="add-chapter">

						<input type="hidden" id="new-chapter-parent" name="chapter"
							value="">
						<div class="form-group">
							<label for="new_chapter_input">Rezeptlinks</label> <input
								type="text" class="form-control" id="new_chapter_input"></input>
						</div>

					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary"
						onclick='$("#chapter-modal").modal("hide");addChapter();$("#new_chapter_input").val("");'>Save
						changes</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" tabindex="-1" role="dialog" id="load-file-modal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Lade gespeichertes Kochbuch</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Gib hier den Link oder eine durch ; getrennte Liste von
						Links zum Rezept oder den Rezepten auf Chefkoch an:</p>
					<form id="load-file">

						<input type="file" id="fileinput">

					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary"
						onclick='$("#load-file-modal").modal("hide");uploadBook();'>Save
						changes</button>
				</div>
			</div>
		</div>
	</div>


	<div class="modal" tabindex="-1" role="dialog"
		id="recipe-options-modal">
		<div class="modal-dialog" role="document"
			style="max-width: 700px; width: 700px;">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Rezeptoptionen</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div style="margin-top: 4px;">

					<ul class="nav nav-tabs" id="recipe-options-tabs" role="tablist">
					    <li class="nav-item"><a class="nav-link active"
							id="recipe-template-tab" data-toggle="tab" href="#recipe-template-options" role="tab"
							aria-controls="recipe-template-options" aria-selected="true"><i
								class="fas fa-newspaper fa-lg" style="margin-right: 4px;"></i>Templates</a></li>
						<li class="nav-item"><a class="nav-link"
							id="recipe-image-tab" data-toggle="tab" href="#recipe-image-options" role="tab"
							aria-controls="recipe-image-options" aria-selected="false"><i
								class="fas fa-image fa-lg" style="margin-right: 4px;"></i>Bilder</a></li>
						<li class="nav-item"><a class="nav-link"
							id="recipe-content-tab" data-toggle="tab" href="#recipe-content-options"
							role="tab" aria-controls="recipe-content-options"
							aria-selected="false"><i class="fas fa-file fa-lg"
								style="margin-right: 4px;"></i>Inhalt</a></li>
						<li class="nav-item"><a class="nav-link"
							id="recipe-ingredients-tab" data-toggle="tab" href="#recipe-ingredients-options"
							role="tab" aria-controls="recipe-ingredients-options"
							aria-selected="false">Zutaten</a></li>
					</ul>
					<div class="tab-content" id="recipe-options-tabs-content">
						{%include 'chefkoch2book/recipe-options.html' %}</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary"
						onclick='$("#load-file-modal").modal("hide");uploadBook();'>Save
						changes</button>
				</div>
			</div>
		</div>
	</div>



	<div class="modal" tabindex="-1" role="dialog" id="preview-modal">
		<div class="modal-dialog" role="document"
			style="max-width: 210mm; width: 210mm">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Lade gespeichertes Kochbuch</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" style="padding: 0px;">
					<div id="preview-container"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary"
						onclick='$("#load-file-modal").modal("hide");uploadBook();'>Save
						changes</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" tabindex="-1" role="dialog" id="image-chooser-modal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Wähle ein Bild aus</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div style="overflow-y: scroll; height: 400px;">
						<select class="image-picker show-html" id="recipe-image-picker">
							
						</select>

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
					<button id="image-chooser-select-button" type="button" class="btn btn-primary"
						onclick=''>Save
						changes</button>
				</div>
			</div>
		</div>
	</div>




	<a id="download-book"></a>


</body>
</html>