
<div class="tab-pane fade show active" id="recipe-template-options"
	role="tabpanel" aria-labelledby="recipe-template-tab"
	style="padding: 10px">

	Wähle ein Bild für den Hintergrund und das Rezept:</br>

	
	

</div>



<div class="tab-pane fade" id="recipe-image-options"
	role="tabpanel" aria-labelledby="recipe-image-tab"
	style="padding: 10px">

	Wähle ein Bild für den Hintergrund und das Rezept:</br>
	<div style="float: left; margin: 5px;">
	<img id="recipe-img-thumb" class="recipe-img-prev">
	<a style="margin-top: 5px;width:100%;" id="recipe-image-chooser-button" href="#" class="btn btn-primary">Rezeptbild</a>
	</div>
	
	<div style="float:left; margin: 5px;" class="clearfix">
	<img id="recipe-bg-thumb" class="recipe-img-prev">
	<a style="margin-top: 5px; width:100%;" id="recipe-bg-chooser-button" href="#" class="btn btn-primary">Hintergrundbild</a>
	
	</div>
	
	

</div>


<div class="tab-pane fade" id="recipe-content-options" role="tabpanel"
	aria-labelledby="recipe-content-tab">...</div>
	
<div class="tab-pane fade" id="recipte-ingredients-options"
	role="tabpanel" aria-labelledby="recipe-ingredients-tab">...</div>