@charset "UTF-8";


	#page-container {
		position: absolute; 
		left: 0px;
		top: 0px;
		width: 209mm;
		height: 275mm;
/* 		background-size: cover; */
/* 		background-image: url('http://localhost:8000/static/chefkoch2book/backgrounds/images/tabletop_01.jpg'); */
		font-family: 'Prata', serif;
		font-size: 14pt;
		z-index: 9999;
	}
	
	#page-background {
		position: absolute;
		background-size: cover;
/* 		background-image: url('http://localhost:8000/static/chefkoch2book/backgrounds/images/tabletop_01.jpg'); */
		filter: blur(3px);
		left: 0px;
		top: 0px;
		width: 209mm;
		height: 275mm;
		z-index: 0;
	}
	
	
	
	div.transbox {
		padding: 10px;
		background: rgba(255,255,255, 0.7)
	}
	#chapter {
		position: absolute;
		left: 0px;
		top: 20px;
		background: rgba(76, 175, 80, 0.9);

		/* Green background with 30% opacity */
	}
	#title-container {
/* 		position: absolute; */
/* 		max-width: 120mm; */
/* 		left: 0px; */
/* 		top: 100px; */
/* 		text-align: right; */

/*  		position: relative;  */
/* 		display: block; */
		max-width: 120mm;
		left: 0mm;
		top: 100px;
		text-align: right;
		margin-bottom: 10mm;
	}
	#chapter-container {
/* 		position: absolute; */
		left: 0px;
		top: 0px;
		width: 100%;
		margin-bottom: 10mm;
	}
	#content-container {
/* 		position: absolute; */
		left: 10mm;
		top: 100mm;
		width: 120mm;
		line-height: 1.7em;
	}
	
	div#ingredients {
/* 		position: absolute;  */
/*  		left: 130mm;  */
/*  		top: 200mm; */

/* 		width: 100mm; */
/* 		position: absolute;  */
		max-width: 80mm;
		
	}
	
	#chapter-container span {
		font-size: 18pt;
	}
	#title-container span {
		font-size: 24pt;
		margin-left: 30px;
	}
	#qr-code {
		position: absolute;
		left: 5mm;
		top: 272mm;
		width: 20mm;
		height: 20mm;
	}
	td.amount {
		text-align:right;
		font-weight: bold;
		padding-right: 5px;
	}
	td.ingredient {
		
	}
	
	img#main-image {
/* 	    position: absolute; */
/* 		left: 130mm; */
/* 		top: 100px; */
		width: 80mm;
		margin-bottom: 10mm;
		
	}

	#title-content-container {
		float: left;
		margin-right: 6mm;
	}
	
	#image-ingredients-container {
		float: left;
	}
	
	table#ingredients {
		width: 100%;
	}
	

	