<div id="preview-container"
	style="background-size: contain; background-image: url('{% static 'chefkoch2book/backgrounds/patterns/kitchen_01.jpg' %}'); height: 297mm; width: 210mm;">

	<input type="hidden" id="recipe">
	<div id="chapter-container">
		<div class="transbox">
			<span id="p-chapter" style=""> </span>
		</div>
	</div>


	<div id="title-container">
		<div class="transbox">
			<span id="p-title"> </span>
		</div>
	</div>

	<div id="content-container">
		<div class="transbox shadow">
			<span id="p-content"> </span>
		</div>
	</div>
</div>